body {
    background-color: #fcbad3 !important;
    overflow-x: hidden;
}

.bg-light {
    background-color: #fcbad3 !important;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.container-fluid {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navbar-brand h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
    padding: 0;
    margin-top: 20px;
    color: #2E2594;
}

.navbar-brand img {
    width: 220px;
    height: 80px;
    margin: 0;
    padding-right: 10px;
}

.navbar-center {
    margin-left: 360px;
}

.nav-item {
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    color: #2E2594;
}

.nav-link {
    color: #2E2594;
}

.nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #2E2594;
}

.btn-primary {
    --bs-btn-active-bg: #2E2594;
    --bs-btn-active-border-color: #2E2594;
    --bs-btn-active-color: #2E2594;
}

.banner-container {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 6%;
    width: 35%;
    color: #2E2594;
}

.bannerHead,
.listHead {
    font-family: "Jersey 15", sans-serif;
    font-size: 45px;
}

.pokemon-color {
    color: #D5356F;
}

.bannerText,
.listText {
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.start,
.info {
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 200px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
}

.watch {
    border: none;
    background-color: transparent;
    color: #2E2594;
    margin-left: 30px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.slideshow {
    position: relative;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slide1 {
    margin-top: 100px;
    margin-left: -40px;
    position: absolute;
    z-index: 4;
    width: 350px;
}

.circles-container {
    position: relative;
}

.circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px; 
}

.first {
    margin-top: 90px;
    margin-left: -155px;
    background-color: #2E2594;
    opacity: 50%;
    z-index: 3;
}

.second {
    margin-top: 50px;
    margin-left: 820px;
    background-color: #2E2594;
    opacity: 20%;
    z-index: 2;
}

.third {
    margin-top: 43px;
    margin-left: 400px;
    background-color: #2E2594;
    opacity: 30%;
    z-index: 1;
}

.decor1 {
    width: 140px;
    height: 140px;
    margin-top: -120px;
    margin-left: 1200px;
}

.decor2 {
    width: 30px;
    height: 30px;
    margin-top: -479px;
    margin-left: 1300px;
    transform: rotate(45deg);
}

.decor3 {
    width: 40px;
    height: 40px;
    margin-top: 210px;
    margin-left: 800px;
    transform: rotate(-45deg);
}

.vector1,
.vector2 {
    position: absolute;
    left: 50%;
    top: 15%;
}

.map-container {
    margin-top: 20%;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

#map {
    height: 600px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    margin-left: 8%;
}

.add-review {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-group {
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.form-group label {
    display: block;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2E2594;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

button[type="submit"]:hover {
    background-color: #D5356F;
}
