.map-container {
    margin-top: 20%;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

#map {
    height: 600px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    margin-left: 8%;
}

.add-review {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-group {
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.form-group label {
    display: block;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2E2594;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

button[type="submit"]:hover {
    background-color: #D5356F;
}