.pokemon-info-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.info-text {
    margin-left: 10%;
    margin-top: 15%;
    width: 65%;
    color: #2E2594;
}

.info {
    position: absolute;
    left: 56%;
    margin-top: 33%;
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 200px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
}

.info:hover {
    background-color: #D5356F;
}

.slide {
    margin-left: 20%;
    margin-top: 20%;
}

.img-fluid {
    width: 360px;
    height: 360px;
}

.vector3 {
    position: absolute;
    left: 38%;
    margin-top: -280px;
}

.vector4 {
    position: absolute;
    left: 0%;
    margin-top: -500px;
    z-index: -1;
}

.decor-center {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 340px;
    margin-left: 180px;
}

.types-container {
    margin-top: 10%;
}

.typeHead {
    color: #2E2594;
    margin-left: 40%;
}

.stat-container {
    width: 717px;
    height: 305px;
    margin-left: 10%;
    padding: 10px;
    margin-top: 5%;
}

.stat-container .row {
    margin-bottom: 10px;
}

.stat-container .col-md-2 {
    text-align: center;
    margin: 0 10px;
    width: 90px;
}

.column-names {
    line-height: 0.9;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    color: #2E2594;
}

.column-names .col-md-2 {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}

.point {
    width: 90px;
    height: 15px;
    margin-left: -10px;
}

.pok1 {
    margin-top: -8%;
}

.name1 {
    text-align: center;
    margin-left: -25%;
    margin-top: 5%;
}

.evol1 {
    margin-left: 13%;
    margin-top: -2%;
}

.stat1 {
    margin-left: 7%;
}

.typeName {
    font-family: "Jersey 15", sans-serif;
    font-size: 35px;
    color: #2E2594;
}

.name2 {
    text-align: center;
    margin-left: 20%;
    margin-top: -15%;
}

.evol2 {
    margin-left: 35%;
    margin-top: -2%;
}

.stat2 {
    margin-left: -15%;
}

.squirtle1 {
    margin-top: -8%;
}

.evolution {
    width: 100px;
    height: 100px;
}

.typeText {
    position: relative;
}

.evolution-container {
    display: flex;
    align-items: center;
}

.evolution-item {
    position: relative;
    display: flex;
    align-items: center;
}

.evolution {
    display: block;
    margin: 0 10px;
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    margin-left: -5px;
    margin-top: 15px;
}

.evolution-item:not(:last-child) .arrow {
    display: block;
}

.evolution-item:last-child .arrow {
    display: none;
}

.review-text {
    text-align: center;
    color: #2E2594;
}

.review-Text {
    font-family: "Jersey 15", sans-serif;
    font-size: 45px;
    color: #2E2594;
}

.add-review {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-group {
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.form-group label {
    display: block;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
}

.inputText {
    color: #2E2594;
    opacity: 1.0;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2E2594;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #D5356F;
}

#reviewsContainer {
    margin-top: 30px;
    text-align: center;
}

#reviewsList {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-item {
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
    padding: 15px;
    width: 300px;
    box-sizing: border-box;
    text-align: left;
}

.review-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.review-item p {
    margin: 5px 0 0;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.star {
    color: rgba(46, 37, 148, 0.8);
    padding: 0 5px;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
    color: #2E2594;
}

.buttonReview {
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 170px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.reviewUser {
    color: #D5356F;
}

@media screen and (max-width: 768px) {
    .pokemon-info-container {
        margin-top: 30%;
    }

    .info-text {
        text-align: center;
    }

    .info {
        margin-top: 80%;
        margin-left: 3%;
        width: 200px !important;
    }

    .types-container {
        margin-top: 20%;
    }

    .typeHead {
        margin-left: 32%;
    }

    .stat1 {
        margin-top: 55%;
    }

    .name1 {
        margin-top: -55%;
        margin-left: -95%;
    }

    .evol1 {
        margin-left: -50%;
    }

    .stat2 {
        margin-left: -110%;
        margin-top: 50%;
    }

    .name2 {
        width: 100%;
        margin-top: -65%;
        margin-left: 58%;
    }

    .evol2 {
        margin-left: 55%;
    }
}