body {
    background-color: #fcbad3 !important;
    overflow-x: hidden;
}

.bg-light {
    background-color: #fcbad3 !important;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.container-fluid {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navbar-brand h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
    padding: 0;
    margin-top: 20px;
    color: #2E2594;
}

.navbar-brand img {
    width: 220px;
    height: 80px;
    margin: 0;
    padding-right: 10px;
}

.navbar-center {
    margin-left: 360px;
}

.nav-item {
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    color: #2E2594;
}

.nav-link {
    color: #2E2594;
}

.nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #2E2594;
}

.btn-primary {
    --bs-btn-active-bg: #2E2594;
    --bs-btn-active-border-color: #2E2594;
    --bs-btn-active-color: #2E2594;
}

.banner-container {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 6%;
    width: 35%;
    color: #2E2594;
}

.bannerHead,
.infoHead,
.typeHead,
.reviewHead,
.reviewUser {
    font-family: "Jersey 15", sans-serif;
    font-size: 45px;
}

.pokemon-color {
    color: #D5356F;
}

.bannerText,
.infoText,
.typeInfo,
.reviewText {
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.watch {
    border: none;
    background-color: transparent;
    color: #2E2594;
    margin-left: 30px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.slideshow {
    position: relative;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slide1 {
    margin-top: 100px;
    margin-left: -40px;
    position: absolute;
    z-index: 4;
    width: 350px;
}

.circles-container {
    position: relative;
}

.circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px; 
}

.first {
    margin-top: 90px;
    margin-left: -155px;
    background-color: #2E2594;
    opacity: 50%;
    z-index: 3;
}

.second {
    margin-top: 50px;
    margin-left: 820px;
    background-color: #2E2594;
    opacity: 20%;
    z-index: 2;
}

.third {
    margin-top: 43px;
    margin-left: 400px;
    background-color: #2E2594;
    opacity: 30%;
    z-index: 1;
}

.decor1 {
    width: 140px;
    height: 140px;
    margin-top: -120px;
    margin-left: 1200px;
}

.decor2 {
    width: 30px;
    height: 30px;
    margin-top: -479px;
    margin-left: 1300px;
    transform: rotate(45deg);
}

.decor3 {
    width: 40px;
    height: 40px;
    margin-top: 210px;
    margin-left: 800px;
    transform: rotate(-45deg);
}

.vector1,
.vector2 {
    position: absolute;
    left: 50%;
    top: 15%;
}

.listHead {
    font-family: "Jersey 15", sans-serif;
    font-size: 57px;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

.listText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Chakra Petch", sans-serif;
}

.register-container {
    margin-top: 20%;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

.login {
    text-align: center;
    margin-left: 33%;
    width: 35%;
    margin-bottom: 30px;
}

.login-form label {
    display: block;
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    color: #2E2594;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
}

.loginBtn {
    background-color: #2E2594;
    border-color: #2E2594;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 200px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
}

.footer {
    height: 150px;
    text-align: center;
}

.footer-logo img {
    width: 200px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Jersey 15', sans-serif;
    color: #2E2594;
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        order: 1;
        position: relative;
        z-index: 1100;
        left: 0%;
    }

    .navbar-collapse {
        position: fixed;
        top: 75px;
        left: 85%;
        text-align: center;
    }

    .navbar-center {
        margin-left: 0;
    }
    
    .navbar-brand img {
        width: 160px;
        height: 60px;
    }

    .navbar-brand h1 {
        font-size: 24px;
        margin-top: 10px;
    }

    .nav-item {
        font-size: 18px;
    }

    .banner-container {
        margin-top: 10%;
    }

    .banner-text {
        width: 80%;
        top: 20%;
        left: 10%;
        text-align: center;
    }

    .bannerHead,
    .infoHead,
    .typeHead,
    .reviewHead,
    .reviewUser {
        font-size: 42px;
    }

    .bannerText,
    .infoText,
    .typeInfo,
    .reviewText {
        font-size: 16px;
    }

    .info {
        height: 50px;
        width: 150px;
        font-size: 20px;
    }

    .watch {
        font-size: 20px;
    }

    .slideshow {
        display: none;
    }

    .circle {
        display: none;
    }

    .decor1,
    .decor2,
    .decor3 {
        display: none !important;
    }

    .vector1,
    .vector2 {
        display: none;
    }

    .register-container {
        margin-top: 35%;
    }
}