.tips-container {
    margin-top: 17%;
    margin-left: 3%;
}

.battle1 {
    margin-left: 20%;
}

.battle {
    border: 1px solid #2E2594;
    margin: 20px;
}

.battleTips {
    font-family: "Jersey 15", sans-serif;
    font-size: 35px;
    color: #D5356F;
    text-align: center;
}

.battleText {
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #2E2594;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

.tip-content {
    display: none;
}

.tip-content.active {
    display: block;
    font-family: "Chakra Petch", sans-serif;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.lista {
    margin-bottom: 10px;
    padding-left: 40px;
    background: url('../images/home/decor/decor2.png') no-repeat left center;
}

.butWatch {
    border: none;
    background-color: transparent;
    color: #2E2594;
    margin-left: 35%;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.container {
    position: fixed;
    top: 25%;
    left: 25%;
}