body {
    background-color: #fcbad3 !important;
    overflow-x: hidden;
}

.bg-light {
    background-color: #fcbad3 !important;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.container-fluid {
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navbar-brand h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
    padding: 0;
    margin-top: 20px;
    color: #2E2594;
}

.navbar-brand img {
    width: 220px;
    height: 80px;
    margin: 0;
    padding-right: 10px;
}

.navbar-center {
    margin-left: 360px;
}

.nav-item {
    font-family: "Jersey 15", sans-serif;
    font-size: 22px;
    color: #2E2594;
}

.nav-link {
    color: #2E2594;
}

.nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #2E2594;
}

.btn-primary {
    --bs-btn-active-bg: #2E2594;
    --bs-btn-active-border-color: #2E2594;
    --bs-btn-active-color: #2E2594;
}

.banner-container {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 6%;
    width: 35%;
    color: #2E2594;
}

.bannerHead,
.infoHead,
.typeHead {
    font-family: "Jersey 15", sans-serif;
    font-size: 45px;
}

.pokemon-color {
    color: #D5356F;
}

.bannerText,
.infoText,
.typeInfo {
    font-family: "Chakra Petch", sans-serif;
    font-size: 18px;
    color: #2E2594;
}

.start,
.info {
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 200px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
}

.watch {
    border: none;
    background-color: transparent;
    color: #2E2594;
    margin-left: 30px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.slideshow {
    position: relative;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.slide1 {
    margin-top: 100px;
    margin-left: -40px;
    position: absolute;
    z-index: 4;
    width: 350px;
}

.circles-container {
    position: relative;
}

.circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px; 
}

.first {
    margin-top: 90px;
    margin-left: -155px;
    background-color: #2E2594;
    opacity: 50%;
    z-index: 3;
}

.second {
    margin-top: 50px;
    margin-left: 820px;
    background-color: #2E2594;
    opacity: 20%;
    z-index: 2;
}

.third {
    margin-top: 43px;
    margin-left: 400px;
    background-color: #2E2594;
    opacity: 30%;
    z-index: 1;
}

.decor1 {
    width: 140px;
    height: 140px;
    margin-top: -120px;
    margin-left: 1200px;
}

.decor2 {
    width: 30px;
    height: 30px;
    margin-top: -479px;
    margin-left: 1300px;
    transform: rotate(45deg);
}

.decor3 {
    width: 40px;
    height: 40px;
    margin-top: 210px;
    margin-left: 800px;
    transform: rotate(-45deg);
}

.vector1,
.vector2 {
    position: absolute;
    left: 50%;
    top: 15%;
}

.pokemon-info-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.pokemon-image {
    margin-left: 25%;
}

.info-text {
    margin-left: 10%;
    margin-top: 15%;
    width: 65%;
    color: #2E2594;
}

.info {
    position: absolute;
    left: 56%;
    margin-top: 33%;
}

.info:hover {
    background-color: #D5356F;
}

.slide {
    margin-left: 20%;
    margin-top: 20%;
}

.img-fluid {
    width: 360px;
    height: 360px;
}

.vector3 {
    position: absolute;
    left: 38%;
    margin-top: -280px;
}

.vector4 {
    position: absolute;
    left: 0%;
    margin-top: -500px;
    z-index: -1;
}

.decor-center {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 340px;
    margin-left: 180px;
}

.types-container {
    margin-top: 10%;
}

.typeHead {
    color: #2E2594;
    margin-left: 40%;
}

.stat-container {
    width: 717px;
    height: 305px;
    margin-left: 10%;
    padding: 10px;
    margin-top: 5%;
}

.stat-container .row {
    margin-bottom: 10px;
}

.stat-container .col-md-2 {
    text-align: center;
    margin: 0 10px;
    width: 90px;
}

.column-names {
    line-height: 0.9;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    color: #2E2594;
}

.column-names .col-md-2 {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}

.point {
    width: 90px;
    height: 15px;
    margin-left: -10px;
}

.pok1 {
    margin-top: -8%;
}

.name1 {
    text-align: center;
    margin-left: -25%;
    margin-top: 5%;
}

.evol1 {
    margin-left: 13%;
    margin-top: -2%;
}

.stat1 {
    margin-left: 7%;
}

.typeName {
    font-family: "Jersey 15", sans-serif;
    font-size: 35px;
    color: #2E2594;
}

.name2 {
    text-align: center;
    margin-left: 20%;
    margin-top: -15%;
}

.evol2 {
    margin-left: 35%;
    margin-top: -2%;
}

.stat2 {
    margin-left: -15%;
}

.squirtle1 {
    margin-top: -8%;
}

.evolution {
    width: 100px;
    height: 100px;
}

.typeText {
    position: relative;
}

.evolution-container {
    display: flex;
    align-items: center;
}

.evolution-item {
    position: relative;
    display: flex;
    align-items: center;
}

.evolution {
    display: block;
    margin: 0 10px;
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    margin-left: -5px;
    margin-top: 15px;
}

.evolution-item:not(:last-child) .arrow {
    display: block;
}

.evolution-item:last-child .arrow {
    display: none;
}

