.listContainer {
    margin-top: 20%;
}

.listInfo {
    text-align: center;
    color: #2E2594;
}

.listText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.encRow {
    margin-left: 6%;  
}

.encPokemon {
    width: 100px;
    height: 100px;
}

.description {
    text-align: center;
    margin-left: -55%;
    color: #2E2594;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
}

.list-container2 {
    margin-top: 7%;
}

.pokemonInfoForm {
    margin-top: 5%;
}

.listInfo {
    text-align: center;
    margin-bottom: 20px;
}

.formAPI {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    margin-right: 20px;
    color: #D5356F;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    box-sizing: border-box;
    background-color: rgba(46, 37, 148, 0.1);
    border: 2px solid #2E2594;
    height: 40px;
    margin-top: -5px;
}

input::placeholder {
    color: white;
}

.inputText {
    color: #2E2594;
    opacity: 1.0;
}

.infoButton {
    display: block;
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 150px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
}

.fetchImage {
    width: 100px;
    height: 100px;

}

.descriptionInfo {
    width: 60%;
    background-color: rgba(46, 37, 148, 0.1);
    border: 1px solid #2E2594;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    color: #fff;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
}

.infoFetch {
    font-size: 22px;
    font-weight: bold;
    color: #2E2594;
}

.add-to-collection {
    background-color: #D5356F;
    border-color: #D5356F;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 150px;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-left: -27px;
}

.footer {
    height: 150px;
    text-align: center;
}

.footer-logo img {
    width: 200px;
    margin-top: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    text-decoration: none;
    font-family: 'Jersey 15', sans-serif;
    color: #2E2594;
}


